@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Pronia.Areas.Client.ViewModels.Account
@model List<OrderViewModel>

<div>
    <div class="myaccount-orders">
        <h4 class="small-title">MY ORDERS</h4>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>Order</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Total</th>
                        <th></th>
                    </tr>

                    @foreach (var order in Model)
                    {
                        <tr>
                            <td>
                                <a class="account-order-id" href="#">@order.Id</a>
                            </td>
                            <td>@order.Date</td>
                            <td>@order.Status</td>
                            <td>$@order.Total for @order.OrderCount items</td>
                            <td>
                                <a href="#" class="btn btn-dark"><span>View</span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>